/* 3.2-About section. */
.about-3sec {
  overflow: hidden;
}
.about-sec {
  width: 30%;
  float: left;
  border: 1px solid var(--border-gray);
  text-align: center;
  padding: 50px 20px;
}

.item {
  color: var(--blue);
  margin-bottom: 10px;
}
.sec-title {
  font-size: 1.5rem;
  text-transform: capitalize;
  transition: color 0.5s;
}
.sec-dec {
  line-height: 1.6;
  transition: color 0.5s;
  margin-bottom: 10px;
}
.about-sec a {
  color: var(--blue);
  text-transform: capitalize;
  font-size: 18px;
}
.about-sec a:hover {
  color: var(--blue_hv);
}
.ltr-effect:hover > .cotent-container > .sec-title {
  color: #fff;
}
.ltr-effect:hover > .cotent-container > .sec-dec {
  color: #899999;
}
